.navigation {
  // Vars
  $inactive-icon: #aab8c2;
  $active-icon: #0065ff;
  $menu-animation: cubic-bezier(0.11, 0.74, 0.35, 0.92);
  $lang-bg: #aab8c236;

  // Support

  // Module
  & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: rgb(0 0 0 / 18%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    .navigation__inner {
      padding: 2rem;
      background-color: $c-white;
      transform: translateY(-100%);
      transition: transform 0.4s $menu-animation;

      @include mq(">lg") {
        padding: 4rem;
      }
    }

    .navigation__close {
      width: 4rem;
      height: 4rem;
      border-radius: 5rem;
      margin-left: auto;
      background-color: $c-white;
      box-shadow: $box-shadow-icon;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: box-shadow 0.3s $cubic-500;

      svg {
        width: 1.7rem;
        height: 1.7rem;
      }

      @include mq(">lg") {
        width: 6rem;
        height: 6rem;
      }
    }

    .navigation__list {
      margin-top: 3rem;
      margin-left: 1rem;

      @include mq(">lg") {
        margin-bottom: 4rem;
      }
    }

    .navigation__item {
      @include item-animation;
      margin-bottom: 5rem;
      transform: translateY(5rem);
      opacity: 0;
      transition: transform 0.5s $menu-animation, opacity 0.4s;
    }

    .navigation__link {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
    }

    .navigation__icon {
      margin-right: 1.5rem;
      stroke: $inactive-icon;
      transition: stroke 0.3s ease-in-out;
    }

    .icon {
      transition: transform 0.4s $menu-animation;
    }

    .navigation__text {
      padding-top: 0.2rem;
      transition: color 0.4s $menu-animation;
    }

    .navigation__lang-link {
      text-decoration: none;
      background-color: $lang-bg;
      display: inline-flex;
      align-items: center;
      margin-right: 2rem;
      color: black;
      border-radius: 0.4rem;
      transition: box-shadow 0.2s ease-in-out;
    }

    .navigation__lang-icon {
      width: 4.5rem;
      padding: 1rem;
    }

    .navigation__lang-text {
      padding: 1rem 1rem 1rem 0;
    }
  }

  // Facets
  & {
    .navigation__lang-link.nuxt-link-active {
      color: #ffffff;
      background: #0056da;
    }
  }

  // States
  & {
    .navigation__link:hover {
      .navigation__icon {
        stroke: $active-icon;
      }

      .navigation__text {
        color: $c-primary;
      }
    }

    .navigation__close:hover {
      box-shadow: $box-shadow-icon-hover;
      .icon {
        transform: rotate(180deg);
      }
    }

    .navigation__lang-link:hover {
      box-shadow: $box-shadow-primary-button;
    }

    &.is-opened {
      visibility: visible;
      opacity: 1;

      .navigation__inner {
        transform: none;
      }
      .navigation__item {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
