.contact {
  // Vars
  //background-image: ;

  // background: url("~assets/images/contact-page-bg.png") no-repeat center center
  //   fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // Support

  // Module
  & {
    .contact__form {
      @include make-container;
      padding: 4rem 1.5rem;
    }

    .form {
      background-color: $c-white;
      max-width: 50rem;
      padding: 4rem;
    }
  }

  // Facets

  // States
}
