.alert {
    // Vars
    $error: #FBE9F0;
    $info: #FFFAAA;
    $success: #d4edda;

    // Support

    // Module
    & {
        background-color: $info;
        margin: 2rem 0;
        padding: 2rem;
        border-radius: 0.4rem;

        .alert__text {
          margin-bottom: 1.5rem;
        }
    }

    // Facets
    & {
        &.alert--error {
            background-color: $error;
        }

        &.alert--success {
            background-color: $success;
        }
    }

    // States
}
