.button {
  // Vars
  $button-width: 34rem;
  $disabled-bg: #ffc79e;

  // Support

  // Module
  & {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    display: inline-block;
    color: currentColor;
    @include font--bold;
    transition: background-color .2s $cubic-300;
    text-decoration: none;
    padding: 1.28rem 3rem;
    border-radius: .3rem;
  }

  // Facets
  & {
    &.button--primary {
      background-color: $c-primary;
      color: $c-white;
      box-shadow: $box-shadow-primary-button;
      &[disabled] {
        background-color: $disabled-bg;
        opacity: 1;
      }
    }

    &.button--success {
      background-color: $c-progress-green;
      color: $c-white;
      box-shadow: $box-shadow-primary-button;
      &[disabled] {
        opacity: 0.5;
      }
    }

    &.button--red {
      background-color: $c-red;
      color: $c-white;
      text-transform: uppercase;
    }


    &.button--outline {
      background-color: transparent;
      color: $c-blue-500;
      border-color: $c-border;
      &[disabled] {
        background-color: transparent;
        opacity: 0.3;
      }
    }

    &.button--full-width {
      width: 100%;
    }
  }

  // States
  & {
    &.button--primary {
      &:hover {
        background-color: darken($c-primary, 4%);
      }
    }

    &.button--outline {
      &:hover {
        background-color: transparentize($c-primary, 0.90);
      }
    }
  }
}


/**
* Button Group
 */
.button-group {
    // Vars

    // Support

    // Module

    // Facets
    & {
      margin-bottom: 1rem;
      .button:first-child {
        margin-right: 1.6rem;

        main[dir="rtl"] & {
          margin-left: 1.6rem;
          margin-right: 0;
        }
      }

    }
    // States
}

