.cards-grid {
  background-color: $body-bg;
  box-shadow: $box-shadow;
  padding: 5rem;
  border-radius: $border-radius;
  text-align: center;

  & {
    .cards-grid__icon {
      height: 50px;
    }

    .cards-grid__title {
      margin-top: 2rem;
      font-weight: 700;
      // font-size: 24px;

      & {
        a {
          text-decoration: none;
        }
      }
    }

    .cards-grid__body {
      margin-top: 2rem;
      color: $c-blue-200;
      font-weight: 600;
    }
  }
}
