.search-modal {
  // Vars

  // Support

  // Module
  & {
    h2 {
      margin-bottom: 2rem;
    }

    .tiles {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr;

      div {
        border-radius: 10px;

        img {
          width: 100%;
          border-radius: 10px;
        }

        p {
          text-align: center;
          margin-top: 2rem;
        }
      }
    }
  }

  // Facets

  // States
}
