main[dir="rtl"] {
  // Vars

  // Support

  // Module
  & {
    .form__icon {
      left: 1.5rem;
      right: auto;
    }

    .form__col {
      &:first-child {
        padding-left: 3rem;
        padding-right: 0;
      }
    }
  }

  // Facets

  // States
}
