.social-share {
  display: flex;
  gap: 1rem;
  justify-content: center;

  //   .resp-sharing-button__link,
  //   .resp-sharing-button__icon {
  //     display: inline-block;
  //   }

  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }

  .resp-sharing-button {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }

  .resp-sharing-button__icon svg {
    margin-right: 0.4em;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
  }

  /* Solid icons get a fill */
  .resp-sharing-button__icon--solid svg,
  .resp-sharing-button__icon--solidcircle svg {
    fill: #fff;
    stroke: none;
  }

  .resp-sharing-button--twitter {
    background-color: #55acee;
  }

  .resp-sharing-button--twitter:hover {
    background-color: #2795e9;
  }

  .resp-sharing-button--whatsapp {
    background-color: #25d366;
  }

  .resp-sharing-button--whatsapp:hover {
    background-color: #1da851;
  }

  .resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
  }

  .resp-sharing-button--twitter:hover,
  .resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }

  .resp-sharing-button--whatsapp {
    background-color: #25d366;
    border-color: #25d366;
  }

  .resp-sharing-button--whatsapp:hover,
  .resp-sharing-button--whatsapp:active {
    background-color: #1da851;
    border-color: #1da851;
  }
}
