// Basic
$container-width: 1100px;
$container-width-narrow: 756px;
$border-radius: 1.5rem;
$main-padding: 1.5rem;
$sidebar-width: 40rem;

// Colors

// Primary
$c-primary: #0065ff;
$c-primary-dark: #0054d3;

// Blue color list
$c-blue-100: #f3f7fa;
$c-blue-150: #e1e8ed;
$c-blue-200: #8097ac;
$c-blue-500: #112435;

// General Colors
$c-white: #fff;
$c-black: #000;
$c-border: #d9d9d9;
$c-red: #fb2e2e;
$c-gray: #f8f8f8;
$body-bg: #f8f8f8;

// Progress colors
$c-progress-cyan: #49ffff;
$c-progress-orange: #ff8888;
$c-progress-yellow: #efe605;
$c-progress-green: #21973b;
$c-progress-red: $c-red;
$c-progress-default: $c-blue-150;

// Borders
$c-base-border: #aab9c6;

// Font size
$base-font-size: 1.8rem;

// Box shadow
$box-shadow: 0px 30.78px 66.17px rgba(17, 36, 53, 0.04);
$box-shadow-primary-button: 0px 15px 30px rgba(0, 101, 255, 0.15);
$box-shadow-icon: 0px 14px 34px rgba(17, 36, 53, 0.09);
$box-shadow-icon-hover: 0px 14px 34px rgb(0 101 255 / 25%);

// Gradient
$primary-gradient: linear-gradient(223.8deg, #0065ff 0.62%, #00c7e5 98.56%);
