// Basic
$container-width: 1100px;
$container-width-narrow: 756px;

// Colors

// Primary
$c-primary: #0065FF;
$c-primary-dark: #0054D3;

// Blue color list
$c-blue-100: #F3F7FA;
$c-blue-150: #E1E8ED;
$c-blue-200: #8097AC;
$c-blue-500: #112435;

// General Colors
$c-white: #fff;
$c-black: #000;
$c-border: #D9D9D9;
$c-red: #FB2E2E;
$c-gray: #F8F8F8;

// Progress colors
$c-progress-cyan: #49FFFF;
$c-progress-orange: #FF8888;
$c-progress-yellow: #EFE605;
$c-progress-green: #21973B;
$c-progress-red: $c-red;
$c-progress-default: $c-blue-150;

// Borders
$c-base-border: #AAB9C6;


// Font size
$base-font-size: 1.8rem;

// Box shadow
$box-shadow: 0px 30.78px 66.17px rgba(17, 36, 53, 0.04);
$box-shadow-primary-button: 0px 15px 30px rgba(0, 101, 255, 0.15);

// Gradient
$primary-gradient: linear-gradient(223.8deg, #0065FF 0.62%, #00C7E5 98.56%);
