.about {
  // Vars
  $bg-color: #edf1f4;

  // Support

  // Module
  background: $bg-color;

  & {
    .about-top {
      margin-top: -100px;
    }

    .about-top__list {
      @include make-container;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 2.5rem;
    }

    .about-tiles {
      @include make-container;
      padding: 7rem 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-gap: 5rem;
    }

    .about-how {
      background: linear-gradient(
        180deg,
        rgba(237, 241, 244, 1) 50%,
        rgba(248, 248, 248, 1) 50%
      );

      & {
        .about-how__wrapper {
          @include make-container;
          padding: 0 1.5rem;

          & {
            .about-how__card {
              background: $primary-gradient;
              box-shadow: $box-shadow;
              border-radius: $border-radius;
              padding: 5rem;
            }

            .about-how__title {
              color: $c-white;
            }

            .about-how__body {
              color: $c-progress-cyan;
              font-weight: 700;
              max-width: 500px;
              margin-top: 1rem;
            }

            .about-how__value {
              color: $c-white;
              // text-align: left;
            }

            .about-how__progress {
              background: rgba(255, 255, 255, 0.5);
              height: 1.5rem;
              border-radius: 10px;
            }

            .about-how__progress__bar {
              background: $c-progress-cyan;
              height: 100%;
              width: 55%;
              border-radius: 10px;
            }
          }
        }
      }
    }

    .about-benefits {
      background: $body-bg;
      text-align: center;

      & {
        .about-benefits__wrapper {
          @include make-container;
          padding: 7rem 1.5rem;
        }

        .about-benefits__title {
          margin-bottom: 2rem;
        }

        .about-benefits__text {
          color: $c-blue-200;
          font-weight: 600;
          margin-bottom: 6rem;
        }

        .about-benefits__item {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
          grid-gap: 2.5rem;
        }
      }
    }

    .about-white-divider {
      height: 50px;
      background: $c-white;
    }
  }

  // Facets

  // States
}
