.cards-two {
  background-color: $c-white;
  padding: 2.5rem;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: grid;
  grid-template-columns: 1fr 1rem 4fr;
  grid-gap: 2.5rem;

  & {
    .cards-two-left {
      display: flex;
      align-items: center;
    }

    .cards-two__icon {
      width: 8rem;
    }

    hr {
      border: 1px solid $c-border;
    }

    .cards-two__title {
      color: $c-primary;
    }

    .cards-two__body {
      color: $c-blue-200;
      font-weight: 600;
      margin-top: 2rem;
    }
  }
}
