.open-data {
  // Vars

  // Support

  // Module

  & {
    .open-data-tiles {
      @include make-container;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-gap: 2.5rem;
      margin-top: -20vh;
      margin-bottom: 5rem;
    }
  }

  // Facets

  // States
}
