.open-data {
  // Vars

  // Support

  // Module
  & {
    .open-data-tiles {
      @include make-container;
      padding: 7rem 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-gap: 2.5rem;
      margin-top: -20vh;
    }
  }

  // Facets

  // States
}
