.ui-accordion {
  // Vars

  // Support

  // Module
  & {
    background-color: $c-white;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 2.5rem;
    box-shadow: $box-shadow;
    .ui-accordion__head {
      cursor: pointer;
      display: flex;
      text-transform: uppercase;
      align-items: center;
      justify-content: space-between;

    }

    .ui-accordion__body {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: opacity 300ms ease;
    }
  }

  // Facets
  & {
    &.ui-accordion--is-open {
      .ui-accordion__body {
        opacity: 1;
      }
    }

    &.ui-accordion--is-animating {
      .ui-accordion__body {
        transition: opacity 300ms ease, max-height 300ms ease;
      }
    }
  }

  // States
}
