.sub-hero {
  // Vars
  $height: 48rem;

  // Support

  // Module
  & {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    .sub-hero__content {
      @include make-container;
    }
  }

  // Facets

  // States
}
