$cubic-100: cubic-bezier(.77,0,.175,1);
$cubic-200: cubic-bezier(.11,.74,.35,.92);
$cubic-300: cubic-bezier(.42,0,.175,1);
$cubic-400: cubic-bezier(.11,.74,.35,.92);
$cubic-500: cubic-bezier(.77,0,.175,1);
