/// Computed breakpoints system, borrowed from bootstrap
///
$screen-xs-min: 0;
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1280px;
$screen-xxl-min: 2500px;


$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
$screen-xl-max: ($screen-xxl-min - 1);

/// Break point definitions used by `include-media`
///
$breakpoints: (
    xs: $screen-xs-max,
    sm: $screen-sm-max,
    md: $screen-md-max,
    lg: $screen-lg-max,
    xl: $screen-xl-max,
);

/// Media type expressions
///
$media-type-expressions: (
    screen: 'screen',
    print: 'print',
);
